.contaner{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
}

.text-center {
 text-align: center;
}

.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
}


